<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unlock.gate"
    android:versionCode="3"
    android:versionName="Alpha" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.unlock.gate.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.unlock.gate.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name="com.unlock.gate.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:logo="@drawable/actionbar_logo"
        android:theme="@style/Gate" >
        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.unlock.gate.LoginRegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/Gate.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unlock.gate.MainActivity"
            android:label="Gate"
            android:launchMode="singleTop"
            android:theme="@style/Gate" >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.unlock.gate.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:parentActivityName="com.unlock.gate.MainActivity"
            android:theme="@style/Gate"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unlock.gate.MainActivity" />
        </activity>
        <activity
            android:name="com.unlock.gate.CreatePostActivity"
            android:label="@string/title_activity_create_post"
            android:theme="@style/Gate.Dialog"
            android:windowSoftInputMode="stateVisible" >

        </activity>
        <activity
            android:name="com.unlock.gate.CreateGateActivity"
            android:label="@string/title_activity_create_gate"
            android:theme="@style/Gate.Dialog"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.unlock.gate.UnlockGateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_unlock_gate"
            android:parentActivityName="com.unlock.gate.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Gate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unlock.gate.MainActivity" />
        </activity>

        <activity
            android:name="com.unlock.gate.EnterKeyActivity"
            android:label="Enter Key"
            android:theme="@style/Gate.Dialog"
            android:windowSoftInputMode="stateVisible" >
        </activity>

        <receiver
            android:name="com.unlock.gate.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.unlock.gate" />
            </intent-filter>
        </receiver>

        <service android:name="com.unlock.gate.GcmIntentService" />
    </application>

</manifest>
